version: "3.7"

services:
  mixpost:
    image: inovector/mixpost:v1.4.0
    container_name: mixpost
    environment:
      - APP_NAME='Mixpost'
      - APP_KEY='${MIXPOST_APP_KEY}'
      - APP_URL='${APP_PROTOCOL:-http}://${APP_DOMAIN}'
      - DB_HOST=mixpost-mysql
      - DB_DATABASE=mixpost
      - DB_USERNAME=tipi
      - DB_PASSWORD=${MIXPOST_MYSQL_PASSWORD}
      - REDIS_HOST=mixpost-redis
      - REDIS_PASSWORD=${MIXPOST_REDIS_PASSWORD}
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/data/mixpost-storage:/var/www/html/storage/app
      - ${APP_DATA_DIR}/data/mixpost-logs:/var/www/html/storage/logs
      - ${APP_DATA_DIR}/data/nginx/nginx.conf:/etc/nginx/sites-enabled/default
    ports:
      - ${APP_PORT}:80
    depends_on:
      - mixpost-mysql
      - mixpost-redis
    networks:
      - tipi_main_network
    labels:
      # Main
      traefik.enable: true
      traefik.http.middlewares.mixpost-web-redirect.redirectscheme.scheme: https
      traefik.http.services.mixpost.loadbalancer.server.port: 80
      # Web
      traefik.http.routers.mixpost-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.mixpost-insecure.entrypoints: web
      traefik.http.routers.mixpost-insecure.service: mixpost
      traefik.http.routers.mixpost-insecure.middlewares: mixpost-web-redirect
      # Websecure
      traefik.http.routers.mixpost.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.mixpost.entrypoints: websecure
      traefik.http.routers.mixpost.service: mixpost
      traefik.http.routers.mixpost.tls.certresolver: myresolver
      # Local domain
      traefik.http.routers.mixpost-local-insecure.rule: Host(`mixpost.${LOCAL_DOMAIN}`)
      traefik.http.routers.mixpost-local-insecure.entrypoints: web
      traefik.http.routers.mixpost-local-insecure.service: mixpost
      traefik.http.routers.mixpost-local-insecure.middlewares: mixpost-web-redirect
      # Local domain secure
      traefik.http.routers.mixpost-local.rule: Host(`mixpost.${LOCAL_DOMAIN}`)
      traefik.http.routers.mixpost-local.entrypoints: websecure
      traefik.http.routers.mixpost-local.service: mixpost
      traefik.http.routers.mixpost-local.tls: true

  mixpost-mysql:
    image: mysql/mysql-server:8.0
    container_name: mixpost_mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MIXPOST_MYSQL_PASSWORD}
      - MYSQL_USER=tipi
      - MYSQL_PASSWORD=${MIXPOST_MYSQL_PASSWORD}
      - MYSQL_DATABASE=mixpost
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p ${MIXPOST_MYSQL_PASSWORD}"]
      retries: 3
      timeout: 5s
    volumes:
      - ${APP_DATA_DIR}/data/mysql:/var/lib/mysql
    networks:
      - tipi_main_network

  mixpost-redis:
    image: "redis:latest"
    command: redis-server --appendonly yes --replica-read-only no --requirepass "${MIXPOST_REDIS_PASSWORD}"
    volumes:
      - "${APP_DATA_DIR}/data/redis:/data"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    networks:
      - tipi_main_network
