version: "3"

services:
  mixpost:
    image: inovector/mixpost:v1.1.3
    container_name: mixpost
    environment:
      - APP_NAME='Mixpost'
      - APP_KEY=${MIXPOST_APP_KEY} # Generate a base64 secret here: https://generate-random.org/laravel-key-generator?count=1
      - APP_URL=https://${APP_DOMAIN}
      - DB_HOST=mixpost_mysql
      - DB_DATABASE=mixpost
      - DB_USERNAME=tipi
      - DB_PASSWORD=${MIXPOST_MYSQL_PASSWORD}
      - REDIS_HOST=mixpost_redis
      - REDIS_PASSWORD=${MIXPOST_REDIS_PASSWORD}
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/data/mixpost-storage:/var/www/html/storage/app
      - ${APP_DATA_DIR}/data/mixpost-logs:/var/www/html/storage/logs
    ports:
      - ${APP_PORT}:80
    depends_on:
      - mixpost-db
    networks:
      - tipi_main_network
    labels:
      traefik.enable: ${APP_EXPOSED}
      traefik.http.routers.mixpost.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.mixpost.entrypoints: websecure
      traefik.http.routers.mixpost.service: mixpost
      traefik.http.routers.mixpost.tls.certresolver: myresolver
      traefik.http.services.mixpost.loadbalancer.server.port: 80

  mixpost_mysql:
    image: mysql/mysql-server:8.0
    container_name: mixpost_mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MIXPOST_MYSQL_PASSWORD}
      - MYSQL_USER=tipi
      - MYSQL_PASSWORD=${MIXPOST_MYSQL_PASSWORD}
      - MYSQL_DATABASE=mixpost
    healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-p ${MIXPOST_MYSQL_PASSWORD}"]
        retries: 3
        timeout: 5s
    volumes:
      - ${APP_DATA_DIR}/data/mysql:/var/lib/mysql
    networks:
      - tipi_main_network

  mixpost_redis:
    image: 'redis:latest'
    command: redis-server --appendonly yes --replica-read-only no --requirepass "${MIXPOST_REDIS_PASSWORD}"
    volumes:
        - '${APP_DATA_DIR}/data/redis:/data'
    healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        retries: 3
        timeout: 5s
    networks:
    - tipi_main_network

