version: '3.7'

services:
  n8n:
    container_name: n8n
    image: n8nio/n8n:0.237.0
    restart: unless-stopped
    ports:
      - ${APP_PORT}:5678
    volumes:
      - ${APP_DATA_DIR}/data/n8n:/home/node/.n8n
    command: /bin/sh -c "sleep 5; n8n start"
    environment:
      - N8N_EDITOR_BASE_URL=${APP_PROTOCOL:-http}://${APP_DOMAIN}
      - WEBHOOK_URL=${APP_PROTOCOL:-http}://${APP_DOMAIN}
    networks:
      - tipi_main_network
    labels:
      # Main
      traefik.enable: true
      traefik.http.middlewares.n8n-web-redirect.redirectscheme.scheme: https
      traefik.http.services.n8n.loadbalancer.server.port: 5678
      # Web
      traefik.http.routers.n8n-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.n8n-insecure.entrypoints: web
      traefik.http.routers.n8n-insecure.service: n8n
      traefik.http.routers.n8n-insecure.middlewares: n8n-web-redirect
      # Websecure
      traefik.http.routers.n8n.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.n8n.entrypoints: websecure
      traefik.http.routers.n8n.service: n8n
      traefik.http.routers.n8n.tls.certresolver: myresolver
      # Local domain
      traefik.http.routers.n8n-local-insecure.rule: Host(`n8n.${LOCAL_DOMAIN}`)
      traefik.http.routers.n8n-local-insecure.entrypoints: web
      traefik.http.routers.n8n-local-insecure.service: n8n
      traefik.http.routers.n8n-local-insecure.middlewares: n8n-web-redirect
      # Local domain secure
      traefik.http.routers.n8n-local.rule: Host(`n8n.${LOCAL_DOMAIN}`)
      traefik.http.routers.n8n-local.entrypoints: websecure
      traefik.http.routers.n8n-local.service: n8n
      traefik.http.routers.n8n-local.tls: true
