version: '3.9'

services:
  ff-iii-importer:
    image: fireflyiii/data-importer:version-1.2.2
    container_name: ff-iii-importer
    restart: unless-stopped
    ports:
      - ${APP_PORT}:8080
    environment:
      - FIREFLY_III_URL=${FIREFLY_III_URL}
      - FIREFLY_III_ACCESS_TOKEN=${FIREFLY_III_ACCESS_TOKEN}
      - FIREFLY_III_CLIENT_ID=${FIREFLY_III_CLIENT_ID}
      - TZ=${TZ}
      - TRUSTED_PROXIES=**
      - VERIFY_TLS_SECURITY=false
      - APP_ENV=local
      - APP_DEBUG=false
      - LOG_CHANNEL=stack
      - LOG_LEVEL=info
    networks:
      - tipi_main_network
    labels:
      traefik.enable: ${APP_EXPOSED}
      traefik.http.routers.ff-iii-importer.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.ff-iii-importer.entrypoints: websecure
      traefik.http.routers.ff-iii-importer.service: ff-iii-importer
      traefik.http.routers.ff-iii-importer.tls.certresolver: myresolver
      traefik.http.services.ff-iii-importer.loadbalancer.server.port: 8080
