services:
  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:7.0.1
    container_name: matter-server
    restart: unless-stopped
    network_mode: host
    security_opt:
      - "apparmor=unconfined"
    volumes:
      - /run/dbus:/run/dbus:ro
      - ${APP_DATA_DIR}/data:/data
    labels:
      # Main
      traefik.enable: false
      runtipi.managed: true
