version: '3.7'
services:
  bookstack:
    image: lscr.io/linuxserver/bookstack:23.05.20230503
    container_name: bookstack
    environment:
      - APP_URL=${APP_PROTOCOL:-http}://${APP_DOMAIN}
      - DB_HOST=bookstack-db
      - DB_USERNAME=tipi
      - DB_PASSWORD=${BOOKSTACK_DB_PASS}
      - DB_DATABASE=bookstackapp
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
    dns:
      - ${DNS_IP}
    ports:
      - ${APP_PORT}:80
    restart: unless-stopped
    depends_on:
      - bookstack-db
    networks:
      - tipi_main_network
    labels:
      traefik.enable: ${APP_EXPOSED}
      traefik.http.routers.bookstack.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.bookstack.entrypoints: websecure
      traefik.http.routers.bookstack.service: bookstack
      traefik.http.routers.bookstack.tls.certresolver: myresolver
      traefik.http.services.bookstack.loadbalancer.server.port: 80

  bookstack-db:
    image: lscr.io/linuxserver/mariadb
    container_name: bookstack-db
    environment:
      - TZ=${TZ}
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER=tipi
      - MYSQL_PASSWORD=${BOOKSTACK_DB_PASS}
    volumes:
      - ${APP_DATA_DIR}/data/db:/config
    restart: unless-stopped
    networks:
      - tipi_main_network
