version: "3"

services:
  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:2.3.0
    ports:
      - ${APP_PORT}:5055
    volumes:
      - ${APP_DATA_DIR}/data/jellyseerr-config:/app/config
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
    restart: unless-stopped
    networks:
      - tipi_main_network
    labels:
      # Main
      traefik.enable: true
      traefik.http.middlewares.jellyseerr-web-redirect.redirectscheme.scheme: https
      traefik.http.services.jellyseerr.loadbalancer.server.port: 5055
      # Web
      traefik.http.routers.jellyseerr-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.jellyseerr-insecure.entrypoints: web
      traefik.http.routers.jellyseerr-insecure.service: jellyseerr
      traefik.http.routers.jellyseerr-insecure.middlewares: jellyseerr-web-redirect
      # Websecure
      traefik.http.routers.jellyseerr.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.jellyseerr.entrypoints: websecure
      traefik.http.routers.jellyseerr.service: jellyseerr
      traefik.http.routers.jellyseerr.tls.certresolver: myresolver
      # Local domain
      traefik.http.routers.jellyseerr-local-insecure.rule: Host(`jellyseerr.${LOCAL_DOMAIN}`)
      traefik.http.routers.jellyseerr-local-insecure.entrypoints: web
      traefik.http.routers.jellyseerr-local-insecure.service: jellyseerr
      traefik.http.routers.jellyseerr-local-insecure.middlewares: jellyseerr-web-redirect
      # Local domain secure
      traefik.http.routers.jellyseerr-local.rule: Host(`jellyseerr.${LOCAL_DOMAIN}`)
      traefik.http.routers.jellyseerr-local.entrypoints: websecure
      traefik.http.routers.jellyseerr-local.service: jellyseerr
      traefik.http.routers.jellyseerr-local.tls: true
      runtipi.managed: true
