version: '3.9'
services:
  beszel:
    image: henrygd/beszel:0.9.1
    container_name: beszel
    restart: unless-stopped
    ports:
      - ${APP_PORT}:8090
    volumes:
      - ${APP_DATA_DIR}/data:/beszel_data
    networks:
      - tipi_main_network
    labels:
      # Main
      traefik.enable: true
      traefik.http.middlewares.beszel-web-redirect.redirectscheme.scheme: https
      traefik.http.services.beszel.loadbalancer.server.port: 8090
      # Web
      traefik.http.routers.beszel-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.beszel-insecure.entrypoints: web
      traefik.http.routers.beszel-insecure.service: beszel
      traefik.http.routers.beszel-insecure.middlewares: beszel-web-redirect
      # Websecure
      traefik.http.routers.beszel.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.beszel.entrypoints: websecure
      traefik.http.routers.beszel.service: beszel
      traefik.http.routers.beszel.tls.certresolver: myresolver
      # Local domain
      traefik.http.routers.beszel-local-insecure.rule: Host(`beszel.${LOCAL_DOMAIN}`)
      traefik.http.routers.beszel-local-insecure.entrypoints: web
      traefik.http.routers.beszel-local-insecure.service: beszel
      traefik.http.routers.beszel-local-insecure.middlewares: beszel-web-redirect
      # Local domain secure
      traefik.http.routers.beszel-local.rule: Host(`beszel.${LOCAL_DOMAIN}`)
      traefik.http.routers.beszel-local.entrypoints: websecure
      traefik.http.routers.beszel-local.service: beszel
      traefik.http.routers.beszel-local.tls: true
      # Runtipi managed
      runtipi.managed: true
