version: '3.9'
services:
  cloudflared:
    image: wisdomsky/cloudflared-web:2025.11.1
    container_name: cloudflared
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${APP_DATA_DIR}/data/cloudflared/config:/config
    environment:
      BASIC_AUTH_USER: ${BASIC_AUTH_USER}
      BASIC_AUTH_PASS: ${BASIC_AUTH_PASS}
    labels:
      runtipi.managed: true
