version: "3.9"

services:
  cloudflared:
    image: wisdomsky/cloudflared-web:2024.8.3
    container_name: cloudflared
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${APP_DATA_DIR}/data/cloudflared/config:/config
    labels:
      runtipi.managed: true
